body, html {
    height: 100%;
    margin-top: 0;
    background: linear-gradient(180deg, #C80707 0%, #831010 100%);
}

.BarMenu {
    padding: 0;
    background: linear-gradient(180deg, #C80707 0%, #831010 100%);
}

.Logo {
    text-align:center;
    transform: scale(0.8,0.8);
}

.Home, .Profile, .Explore, .MyMovies, .Settings {
    margin-top: 9%;
    color: #FFF;
    text-shadow: 0px 4px 80px 0px rgba(0, 0, 0, 0.30);
    font-size: 20px;
    font-family: Arial;
    font-weight: 300;
    text-align: left;
    justify-content: space-evenly;
    word-wrap: break-word;
}

.LegalTerms, .AboutUs, .Privacy, .Copyright {
    color: #FFF;
    text-align: justify;
    font-size: 16px;
    font-family: Arial;
    font-weight: 300;
    text-decoration-line: underline;
}

.BigRectangle {
    margin-top: 3%;
    background: rgba(0, 0, 0, 0.50);
    border: 2px solid rgba(0, 0, 0, 0.70);
    border-radius: 48px 48px 0px 0px;
    z-index: 1;
    padding: 2% 2% 0 2%;
    position: relative;
}

.form-inline{
	margin-top: 20%;
}

.form-control {
    background-color: #f00; 
    color: #fff; 
}

.btn-outline-success {
    background-color: #f00; 
    color: #fff; 
}
.card {
	position: relative; 
	margin-top: 10%;
    width: 100%; 
    height: 18%;
    margin: auto; 
    overflow: hidden;
    border-radius:50px 50px 50px 50px;
}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}





