:root {
    --bs-body-font-family: 'Inter', sans-serif;
}

body, html {
    height: 100%;
    margin-top: 0;
    background: linear-gradient(180deg, #C80707 0%, #831010 100%);
}

a {
    color: #ffffff;
}

a:hover {
    color: rgb(255, 255, 255);
}

.BarMenu {
    padding: 0;
    background: linear-gradient(180deg, #C80707 0%, #831010 100%);
}

.Logo {
    text-align:center;
    transform: scale(0.8,0.8);
}


.Home, .Profile, .Explore, .MyMovies, .Settings {
    margin-top: 9%;
    color: #FFF;
    text-shadow: 0px 4px 80px 0px rgba(0, 0, 0, 0.30);
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    justify-content: space-evenly;
    word-wrap: break-word;
    cursor: pointer;
}

:where(.Home, .Profile, .Explore, .MyMovies, .Settings):hover {
    font-weight: 500;
}

.LegalTerms, .AboutUs, .Privacy, .Copyright {
    color: #FFF;
    text-align: justify;
    font-size: 16px;
    font-weight: 300;
    text-decoration-line: underline;
}



.BigRectangle {
    margin-top: 2%;
    background: rgba(0, 0, 0, 0.50);
    border: 2px solid rgba(0, 0, 0, 0.70);
    border-radius: 48px 48px 0px 0px;
    z-index: 1;
}

.LeftSide{
    background-image: url("./imgs/left-waves.png");
    background-size: cover;
    background-position: right;
}
.RightSide{
    background-image: url("./imgs/right-waves.png");
    background-size: cover;
    background-position: left;
}

.align-items-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.BlackButton{
    background-color: black;
    border-radius: 25px;
    border-color: black;
    color: white;
    width: 300px;
    padding: 4px;
    margin: 10px;
}

.WhiteOutlineButton{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 25px;
    border-color: white;
    color: white;
    width: 300px;
    padding: 4px;
    margin: 10px;
}

.AnonButton {
    width: auto;
    color: #FFFFFF;
    cursor: pointer;
}

.Background {
    background: linear-gradient(180deg, #C80707 0%, #831010 100%);
}

.SearchBar {
    border-radius: 64px;
    text-align: center;
}
.SubTitle {
    font-weight: 800;
    font-size: 36px;
    color: white;
}
.nav-tag{}

.white-text{
    color:#FFF
}

.test {
    background-color: blue;
}

.test2 {
    background-color: cadetblue;
}
